<h1>Enter a URL</h1>

<% @url.errors.each do |attr, msg| %>
  <%= msg %> on  <%= attr %>
  <% end %>

  <%= form_for @url do |f| %>
  <p>
<%= f.label :original %> : <%= f.text_field :original %>
  </p>
  <p>
    <%= f.hidden_field :by_id, :value => @url.by_id %>
    <%= f.submit "Enter a URL" %>
  </p>
  <% end %>
